/* Footer Style */
footer {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    color: #252525;
}

footer i {
    cursor: pointer;
    font-size: 20px;
    color: #252525;
}

footer .copyright {
    padding-left: 10px;
}

footer .socials {
    padding-right: 10px;
}