/* Main Style */
main {
    background-color: #252525;
    min-height: 95vh;
    padding-top: 7vh;
}

div.maincontent {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;

}